
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProjetoAgenda.Web.Models.AgendaCadastroModel

<h3>Cadastrar Nova Tarefa</h3>
@Html.ActionLink("Voltar", "Index")
<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CadastrarTarefa", "Agenda", FormMethod.Post))
        {
            <div style="color: red;">
                @Html.ValidationSummary()
            </div>
            @Html.LabelFor(model => model.Titulo)
            @Html.TextBoxFor(model => model.Titulo,
            new { @class = "form-control" })
            <br />
            @Html.LabelFor(model => model.Descricao)
            @Html.TextAreaFor(model => model.Descricao,
            new { @class = "form-control" })
            <br />
            @Html.LabelFor(model => model.DataHoraInicio)
            @Html.TextBoxFor(model => model.DataHoraInicio,
            new { @class = "form-control", @type = "datetime-local" })
            <br />
            @Html.LabelFor(model => model.DataHoraFim)
            @Html.TextBoxFor(model => model.DataHoraFim,
            new { @class = "form-control", @type = "datetime-local" })
            <br />
            @Html.LabelFor(model => model.IdCategoria)
            @Html.DropDownListFor(model => model.IdCategoria, Model.ListagemCategorias, "- Escolha uma Opção -",
            new { @class = "form-control" })
            <br />

            <input type="submit" value="Cadastrar Tarefa" class="btn btn-success btn-block" />
            <hr />

            @ViewBag.Mensagem
        }
    </div>
</div>
